nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background: transparent;
    border: 2px solid rgb(65, 65, 65);
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    transition: background 0.5s ease;
    border-radius: 0.3rem;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
    &:active {
      box-shadow: 0.3px 0.3px 3px rgb(65, 65, 65);
    }
    svg {
      padding-left: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
